.App {
  text-align: center;
}

.App-img {
  height: 40vmin;
  pointer-events: none;
  float: left;
  width: 25%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  display: block;
  height: 400px;
}

.img {
  width: 100%;
}

.parameters {
  float: left;
  text-align: left;
  box-sizing: border-box;
}

.pixeled {
  clear: both;
}

.pixelateItem {
  height: 10px;
  width: 10px;
  display: inline-block;
}

.pixelateItem.circle {
  border-radius: 50%;
}

.pixelateItem.square {
}